@use "../../abstracts/variables" as *;

.#{$prefix}-input-otp {
  display: flex;
  gap: var(--#{$prefix}-space-2);

  input {
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    font-size: var(--#{$prefix}-font-lg);
    font-weight: var(--#{$prefix}-weight-semibold);
  }
}
