@use "../../abstracts/variables" as *;

.#{$prefix}-input-otp {
  display: flex;
  gap: 0.5rem;

  input {
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    font-size: 1.15rem;
    font-weight: var(--#{$prefix}-weight-semibold);
  }
}
