@use "../../abstracts/variables" as *;

.#{$prefix}-input-search {
  position: relative;

  svg,
  .#{$prefix}-icon,
  .material-symbols-outlined {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: var(--#{$prefix}-icon-sm);
    height: var(--#{$prefix}-icon-sm);
    font-size: var(--#{$prefix}-icon-sm);
    color: var(--#{$prefix}-color-icon-muted);
    pointer-events: none;
  }

  .#{$prefix}-input-text { padding-left: 2.25rem; }
}
