@use "../../abstracts/variables" as *;

.#{$prefix}-input-search {
  position: relative;

  svg {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    color: var(--#{$prefix}-color-icon-muted);
    pointer-events: none;
  }

  .#{$prefix}-input-text { padding-left: 2.25rem; }
}
