@use "../../abstracts/variables" as *;

.#{$prefix}-field {
  display: grid;
  gap: var(--#{$prefix}-space-2);

  &__meta {
    display: flex;
    justify-content: space-between;
    gap: var(--#{$prefix}-space-3);
  }

  &.is-error {
    .#{$prefix}-input-text,
    .#{$prefix}-input-textarea,
    .#{$prefix}-input-select,
    .#{$prefix}-input-date,
    .#{$prefix}-input-datetime,
    .#{$prefix}-input-color {
      border-color: var(--#{$prefix}-color-error);

      &:hover { border-color: var(--#{$prefix}-color-error); }

      &:focus {
        outline-color: var(--#{$prefix}-color-error);
        border-color: var(--#{$prefix}-color-error);
      }
    }

    .#{$prefix}-input-description { color: var(--#{$prefix}-color-error); }
  }
}
