@use "../../abstracts/variables" as *;

.#{$prefix}-fab {
  position: fixed;
  right: var(--#{$prefix}-space-5);
  bottom: var(--#{$prefix}-space-5);
  z-index: var(--#{$prefix}-z-sticky);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: var(--#{$prefix}-radius-full);
  background: var(--#{$prefix}-color-primary);
  color: var(--#{$prefix}-color-primary-on);

  .#{$prefix}-icon,
  .material-symbols-outlined {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
