@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.#{$prefix}-input-text {
  @include input-surface;
}

.#{$prefix}-input-textarea {
  @include input-surface;
  min-height: 7rem;
  padding-top: var(--#{$prefix}-space-3);
  padding-bottom: var(--#{$prefix}-space-3);
  resize: vertical;
}
