@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.#{$prefix}-input-text {
  @include input-surface;
}

.#{$prefix}-input-textarea {
  @include input-surface;
  min-height: 7rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  resize: vertical;
}
