@use "../../abstracts/variables" as *;

.#{$prefix}-qr {
  width: 7.5rem;
  height: 7.5rem;
  display: grid;
  place-items: center;
  background: var(--#{$prefix}-color-white);
  color: var(--#{$prefix}-color-secondary);
  border-radius: var(--#{$prefix}-radius-md);
  font-size: var(--#{$prefix}-font-xs);
  font-weight: var(--#{$prefix}-weight-semibold);
}
