@use "../../abstracts/variables" as *;

.#{$prefix}-input-choice {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--#{$prefix}-space-2);
  font-size: var(--#{$prefix}-font-md);

  input {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: var(--#{$prefix}-space-1);
    accent-color: var(--#{$prefix}-color-accent);
  }
}
