@use "../../abstracts/variables" as *;

.#{$prefix}-input-choice {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.6rem;
  font-size: var(--#{$prefix}-font-md);

  input {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 0.15rem;
    accent-color: var(--#{$prefix}-color-accent);
  }
}
